<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>19H524</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>純靠北工程師</string>
	<key>CFBundleIconFile</key>
	<string>AppIconSP</string>
	<key>CFBundleIconName</key>
	<string>AppIconSP</string>
	<key>CFBundleIdentifier</key>
	<string>horo.init-engineer</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>純靠北工程師</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>4</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>12D4e</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>11.1</string>
	<key>DTSDKBuild</key>
	<string>20C63</string>
	<key>DTSDKName</key>
	<string>macosx11.1</string>
	<key>DTXcode</key>
	<string>1240</string>
	<key>DTXcodeBuild</key>
	<string>12D4e</string>
	<key>Discord URL</key>
	<string>discord.com/api/webhooks/830751681654030346/jKaz8Q8jpr0cRHJjaAPK7_teLcH5AFTskiR3d3CvpiH8_UuKbZ1IDfe1tIfwN9Q1eaGb</string>
	<key>GAD AdsInterstitial</key>
	<string>ca-app-pub-0000000000000000/0000000000</string>
	<key>GAD AdsInterstitial Video</key>
	<string>ca-app-pub-0000000000000000/0000000000</string>
	<key>GAD AdsRewarded Video</key>
	<string>ca-app-pub-0000000000000000/0000000000</string>
	<key>GAD Banner</key>
	<string>ca-app-pub-0000000000000000/0000000000</string>
	<key>GAD Cell1</key>
	<string>ca-app-pub-0000000000000000/0000000000</string>
	<key>GAD Cell2</key>
	<string>ca-app-pub-0000000000000000/0000000000</string>
	<key>GAD Login</key>
	<string>ca-app-pub-0000000000000000/0000000000</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-0000000000000000~0000000000</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>KaobeiID</key>
	<string>123</string>
	<key>KaobeiToken</key>
	<string>321</string>
	<key>Keychain Service Name</key>
	<string>kaobei.engineer</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.social-networking</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.15</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>如果要上傳自定圖片必須開啟此權限</string>
	<key>NSSupportsAutomaticTermination</key>
	<true/>
	<key>NSSupportsSuddenTermination</key>
	<true/>
	<key>OAuth2 Client ID</key>
	<string>10</string>
	<key>OAuth2 Client Secret</key>
	<string>Yfb4Cv0VXoYonma9HZ7ksp6wtfZ5wY78WJq5NsnK</string>
	<key>OAuth2 Redirect URI</key>
	<string>kaobei://callback</string>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>cstr6suwn9.skadnetwork</string>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Fixedsys500c.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>純靠北工程師.SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>2</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
